<h1> Form</h1>
<app-tdform></app-tdform>

<!-- 
<div class="container">
  <div class="form-group">
    <label for="username">Username</label>    <br>
    <input class="px-5 py-3" type="text" [formControl]="username" name="username" formControlName="username">
  </div>  <br> <br>
  <div class="form-group">
    <label for="username">Password</label> <br>
    <input class="px-5 py-3" type="password" [formControl]="password" name="password" formControlName="password">
  </div> <br> <br>
  <div class="form-group">
    <label for="email">email</label>    <br>
    <input class="px-5 py-3" type="text" [formControl]="email" name="email" formControlName="email">
  </div>  <br> <br>
  <div class="form-group">
    <label for="adress">adress</label>    <br>
    <input class="px-5 py-3" type="text" [formControl]="adress" name="adress" formControlName="adress">
  </div>  <br> <br>
    <div>
    <button class="btn btn-lg btn-primary" type="submit" (click)="collectData()">OnSubmit</button>
  </div>
</div>  -->


